.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

hr {
    height: 1px;
    background-color: blue;
}

img {
    width: 60px;
    height: 60px;
}

.item-text {
    width: 200px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: row;
}